.App {
  text-align: center;
}
#carousel{
  max-height: 770px;
  margin: 3%;
}

#carousel-image {
  max-height: 770px;
  opacity: .65;
}
#carousel-text-box {
  color: black;
  background-color: darkgray;
  opacity: .80;
  padding: 5%;
  border: 2px solid black;
    /* margin-bottom: 20%; */
}
#logo {
  margin : 10px;
  border-radius:25px
}
