#App {
  text-align: center;
  min-height: 100vh;
  background-color: #0077be;
}

#carousel {
  max-height: 770px;
  margin: 3%;
  border: 5px solid black;
  border-radius: 25px;
}

#carousel-image {
  max-height: 770px;
  opacity: .65;
  border-radius: 25px;
}

#carousel-text-box {
  color: black;
  background-color: darkgray;
  opacity: .80;
  padding: 5%;
  border: 2px solid black;
}

#logo {
  margin: 20px;
  border-radius: 25px;
}

#home {
  border: 2px solid white;
  background: white;
  border-radius: 10px;
  margin-left: 20px;
}

#about {
  border: 2px solid white;
  background: white;
  border-radius: 10px;
  margin-left: 120px;
}

#wishlist {
  border: 2px solid white;
  background: white;
  border-radius: 10px;
  margin-left: 120px;
}


#button {
  margin-left: 2%;
}

#footer {
  margin-top: 40%;
  background: #343a40;
  color: white;
  font-size: 200%;
  height: 80px;
  padding: 1%;
}

#theform {
  font-size: 175%;
  font-weight: bold;
  border: 10px solid #343a40;
  background-color: #9ABBf5;
  max-width: 60%;
  padding: 3%;
  margin-top: 3%;
  margin-left: 20%;
}

#header {
  background-color: #343a40;
}

#search {
  margin: 2%;
}

h3 {
  margin-left: 20px;
}

#card {
  border: 5px solid grey;
  text-align: center;
}

.row {
  text-align: center;
  margin: auto;
}

.col{
  margin-bottom: 50px;
  margin-top: 50px;
}

.profilePic{
  max-width: 250px;
}
.aboutCard {
  max-width: 50%;
  margin-left: 25%;
  margin-top: 1%;
  margin-bottom: 1%;
  color: #343a40;
  font-weight: bold;
  font-size: 150%;
}

#cards {
  margin-top: 5%;
}